* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #ecf0f1;
}
body {
  background: #000;
}

#canvas {
  background-color: rgb(255, 0, 136);
  color: white;
  font-size: 62px;
  position: relative;
  padding-top: 60px;
}

.content {
  text-align: center;
}

#score {
  position: absolute;
  top: 30px;
  left: 20px;
  font-size: 32px;
}

#timer {
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
}

#timer.active {
  animation: tmr 3s forwards;
}

@keyframes tmr {
  from {width: 100%;}
  to {width: 0;}
}


.button {
    width: 136px;
    height: 136px;
    padding: 0;
    margin-top: 70px;
    background-size: cover;
    border: none;
    background-color: transparent;
}

#correct {
  background-image: url('http://www.hoodamath.com/mobile/games/freaking-math/images/rightbutton-sheet0.png');
}

#incorrect {
  background-image: url('http://www.hoodamath.com/mobile/games/freaking-math/images/wrongbutton-sheet0.png');
}